<h1>Editing update_apk</h1>

<%= form_for(@update_apk) do |f| %>
    <% if @update_apk.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@update_apk.errors.count, "error") %> prohibited this update_apk from being saved:</h2>

            <ul>
                <% @update_apk.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :App名称 %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :AppKey %><br>
        <%= f.object.uuid %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Show', @update_apk %> |
<%= link_to 'Back', update_apks_path %>
